@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ShortStack';
  src: url('/valentines/ShortStack-Regular.otf');
 }

body {
  background-color: rgb(248, 211, 200);
  color: rgb(60, 60, 60);
  font-family: 'ShortStack', cursive;
  display: flex;
  flex-direction: column;
  height: 100svh;
  width: 100svw;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 38px;
}

h4 {
  font-size: 32px;
}

h4 {
  font-size: 32px;
}

.mail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mail img{
  margin-top: -200px
}

.mail h1 {
  text-align: center;
}


.mail-hover{
  animation: shake .3s infinite;
  cursor: pointer;
}

@keyframes shake {
  25% {
    transform: rotate(-2deg);
  }
  75% {
    transform: rotate(2deg);
  }
}

.heart {
  position: absolute;
  transform: translateY(-80%);
  animation: flyup 1s forwards;
}

@keyframes flyup {
  100% {
    transform: translateY(-400%);
  }
}

.form {
  border-radius: 20px;
  border: solid rgb(60, 60, 60) 5px;
  background-color: rgb(253, 247, 241);
  animation: form-grow 1s ease forwards .1s;
  height: 60svh;
  width: 80vw;
  opacity: 0;
}

@keyframes form-grow {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

.yesno {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-bottom: 2.5rem;
  padding-right: 2.5rem;
  font-size: 2.5rem;
}

.yesno a {
  padding: 5px;
  border-radius: 15px;
  border: solid rgb(60, 60, 60) 3px;
  cursor: pointer;
  transition: all .2s;
}

.yes {
  margin-right: 20px;
  background-color: rgb(203, 255, 168);

}

.no {
  background-color: rgb(253, 190, 190);

}